/* NotepadImage animation */

@-webkit-keyframes NotepadAni {
  from {
	left: 24; 
	top: 8;
    width:10%;
  }
  
  to {
	top: 10;
	left: 250;
	width: 607.5; 
 }
}

@keyframes NotepadAni {
  from {
	left: 24; 
	top: 8;
    width:10%;
  }
  
  to {
   top: 40;
   left: 250;
   width: 607.5; 
 }
}

/* NotepadImage animation */

/* NotepadText animation */

@-webkit-keyframes NotepadTextAni {
  from {
	left: 24; 
	top: 8;
    width:10%;
  }
  
  to {
   top: 43; 
   left: 250;
   width: 580;
   heigth: auto;
 }
}

@keyframes NotepadTextAni {
  from {
	left: 2; 
	top: 8;
    width:10%;
  }
  
  to {
   top: 68; 
   left: 256;
   width: 580; 
   heigth: auto;
 }
}

/* NotepadText animation */

.NotepadAnimation {
  -moz-animation-duration: 0.35s;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -moz-animation-name: NotepadAni;
  -webkit-animation-name: NotepadAni;
  animation-name: NotepadAni;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
	}
	
.NotepadTextAnimation {
  -moz-animation-duration: 0.35s;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -moz-animation-name: NotepadTextAni;
  -webkit-animation-name: NotepadTextAni;
  animation-name: NotepadTextAni;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
	}
