html{
	height: 98%;
	width: 98%;
	}
body{
	font-family: Segoe UI;
	font-size: 9pt;
	background: url("../images/Bliss.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	}

/* Start Link - navigation */

link {
	display: none;
	} 
	
nav{
	position: left bottom;
	height: 200px;
	width: 400px;
	}

nav ul{
	list-style-type: none;
	}
	
nav li{
	font-family: Segoe UI;
	font-size: 8pt;
	}

nav a:link, a:visited {
    display: block;
    font-weight: bold; 
	color: #000000;
    text-align: left;
    padding: 4px;
    text-decoration: none;
	width: 160;

	}

a:hover, a:active {
   background-color: #F2F2F2;
}

/* End Link - Navigation*/

/* Start image styling */

#Taskbar{
	position: fixed; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	min-height: 28px; 
	z-index:1
	}
	
#start{
	position: fixed; 
	bottom: 0; 
	left: 0; 
	z-index:1;
	cursor: pointer;
	}
	
#TimeBar{
	position: fixed; 
	bottom: 0; 
	right: 0; 
	z-index:1
	}

#shutdown{
	position: fixed; 
	bottom: 37; 
	left: 251; 
	z-index: 1
	}

#clockbox{
	position: fixed; 
	bottom: 6; 
	right: 18; 
	z-index: 2
	}
	
#Menu{
	position: fixed; 
	bottom: 28; 
	left: 0;
	z-index:2;
	}

#folderIco{
	position:relative; 
	bottom: -8px
	}

#notepad{
	Position: fixed; 
	z-index:0
	}

#NotepadText{
	position: fixed;
	z-index:0;
	}

#NotepadIco{
	cursor: pointer;
	}

#NotepadClose{
	position: fixed;
	top: 57;
	left: 831;
	cursor: pointer;
	}
/* End image styling */

/* Internet explorer */
#InternetExplorerIco{
	cursor: pointer;
	}
	
#IETopLeft{
	position: fixed; 
	top: 0; 
	left: 0;
	z-index:0
	}
	
#IETopMiddle{
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%;  
	min-height: 114px;  
	z-index:0
	}
	
#IETopRight{
	position: fixed; 
	top: 0; 
	right: 0;	
	z-index:0
	}
	
#IEClose{
	position: fixed;
	top: 2;
	right: 2;
	cursor: pointer;
	z-index:1
	}

#IEBottomLeft{
	position: fixed;
	bottom: 28; 
	left: 0;
	z-index:1
	}

#IEBottomMiddle{
	position: fixed;
	bottom: 28; 
	left: 0;
	width: 100%;  
	min-height: 22px;  
	z-index:1
	}

#IEBottomRight{
	position: fixed;
	bottom: 28; 
	right: 0;
	z-index:1
	}
#InternetContent{
	background: #FFFFFF;
	position: fixed;
	top: 114px;
	left: 0;
	height: calc(100% - 164px);
	}
