html{height: 98%;}
body{
	heigth: 98%;
	font-family: Segoe UI;
	font-size: 9pt;
	background: url("../images/Bliss.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

link {
	display: none;
	} 
P 	{
	text-align: center;
	}

#Timebar{
	font-family: Segou UI;
	font-size: 9pt;
	}
	
	
#Menu{
    visibility: hidden;
}

nav{
	position: left bottom;
	heigth: 200px;
	width: 400px;
	}

nav ul{
	list-style-type: none;
	}
	
nav li{
	font-family: Segoe UI;
	font-size: 8pt;
	}

nav a:link, a:visited {
    display: block;
    font-weight: bold; 
	color: #000000;

    width: 168px;
	heigth: 100%;
    text-align: left;
    padding: 4px;
    text-decoration: none;

}

a:hover, a:active {
   background-color: #F2F2F2;
}

	