html{height: 98%;}
body{
	height:98%;
	width: 98%;
	}
#content{
	width:65%;
	height: 100px;
	margin:0px auto;
	padding-top:0px;
	padding-left: auto;
	padding-right: auto;
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 10px 10px rgba(0,0,0,0.5);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
	}
header{
	text-align:center;
}
hgroup{
	width: auto%;
	height: 71px;
	background-color:#7D151A;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#7D151A, endColorstr=#762525);
	background-image:-moz-linear-gradient(left, #7D151A 0%, #762525 50%,#7D151A 100%);
	background-image:linear-gradient(left, #7D151A 0%, #762525 50%,#7D151A 100%);
	background-image:-webkit-linear-gradient(left, #7D151A 0%, #762525 50%,#7D151A 100%);
	background-image:-o-linear-gradient(left, #7D151A 0%, #762525 50%,#7D151A 100%);
	background-image:-ms-linear-gradient(left, #7D151A 0%, #762525 50%,#7D151A 100%);
	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#7D151A), color-stop(50%,#A74247),color-stop(100%,#7D151A));}
}
hgroup h1 {
	color: 540004;
	font-family:serif;
	font-align: center;
}
nav{
	position: relative;
	border: 1px;
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 10px 10px rgba(0,0,0,0.5);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
nav ul {
	-webkit-font-smoothing:antialiased;
	text-shadow: 0 1px 0 #FFF;
	background: ##D99A9D;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
nav  li{
	float:left;
	margin: 0;
	padding:0;
	position: relative;
	min-width: 25%;
}
nav a {
	background: #D99A9D;
	color: #444;
	display: block;
	font: bold 16px/50px sans-serif;
	padding: 0 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}
nav li:hover a {
    background: #B26569;
}
nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
}
nav li ul a:hover {
    background: #bbb;
}
article{
	float: left;
	width: auto;
	height: 600;
	margin: 10px;
	padding: 0 0 0 0;
	border: 1px solid #ddd;
	background-color:#914D50;
}
.container{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
article header h1{
	z-index: 1;
	position:relative;
	top:-40px;
	left:30px;
	margin: 10px 0px 0px 0px;
	font-family:Arial;
	font-size:1.5em;
	color:#914D50;
	text-shadow:5px 5px 10px #000;
}

footer {
	float: left;
	width: 100%;
	height: auto;
	left: 10px;
	border: 1px solid #ddd;
}

footer ul li{
	float: left;
	padding: 10px;
	list-style: none;
	list-style-type:none;
}
footer ul li a img{
	width: 100px;
	padding: 10px;
}
footer ul.Footer li a:hover img {
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0.5);
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0.5);
	box-shadow: 4px 4px 10px rgba(0,0,0.5);
	
	-webkit-transform-origin:bottom left;
	-moz-transform-origin:bottom left;
	transform-origin:bottom left;
	
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transform: scale(1.5);
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
aside {
	float: left;
	width: 150px;
	padding: 10px;
	border: 1px solid #ddd;
}
