link {display: none;} 
P 	{text-align: center}

ul 	{overflow: hidden; margin: 0; padding: 0; margin-left: auto; margin-right: auto; width: 95%; list-style-type: none;}

li      {float: left}

    a.nav:link,a.nav:visited
	{display:block; width:230px; position: relative; left: 150px; font-weight:bold; color:#FFFFFF; background-color:#027D9E; text-align:center; padding:6px; text-decoration:none; text-transform:uppercase;}

	#header_image_sociable {border:5px solid #0A0A2A; margin-left: 160px; margin-right: 160px; width:990px; height:180px;background-image: url:("images/Header.jpg");}